body{
    background-color: aqua;
}

.datos{
    background-color: rgba(240, 248, 255, 0.494);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

.boton{
    margin-top: 10px;
    background-color: rgba(240, 248, 255, 0.494);
}

.resultado{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 95px;
    margin-right: 180px;
    display: flex;
    justify-content: flex-end;
}